# PLANTILLA SET UP

**IMPORTANTE**: Recuerda hacer una copia de esta plantilla para no machacar la original.

## CREAR EL ENTORNO PARA EL PROYECTO

Crear un nuevo entorno e instalar los paquetes básicos:

1. Ir al prompt o terminal
2. Copiar y poner la línea inferior:

conda create --name proyecto1 python numpy pandas matplotlib seaborn scikit-learn scipy sqlalchemy xgboost jupyter

3. Activar el nuevo entorno:

conda activate proyecto1

4. Instalar los paquetes que están en otros canales:

conda install -c conda-forge pyjanitor scikit-plot yellowbrick imbalanced-learn jupyter_contrib_nbextensions cloudpickle

conda install -c districtdatalabs yellowbrick

pip install category_encoders

5. Crear el environment.yml

conda env export > proyecto1.yml

*Nota: es posible que te lo haya creado en C:\Users\tu_usuario, más adelante moveremos este archivo al directorio del proyecto*

## IMPORTAR PAQUETES

In [1]:
import os
import numpy as np
import pandas as pd

#Automcompletar rápido
%config IPCompleter.greedy=True

## CREAR EL DIRECTORIO DEL PROYECTO

### Definir el directorio raiz donde vamos a crear el proyecto

In [2]:
raiz = 'C:/Users/eloic/Google Drive/EOI/TFM/'

### Definir el nombre del proyecto

In [3]:
nombre_dir = '01_MANT_PREDICTIVO'

### Crear el directorio y la estructura del proyecto

In [4]:
path = raiz + nombre_dir

try:
    os.mkdir(path)
    os.mkdir(path + '/01_Documentos')
    os.mkdir(path + '/02_Datos')
    os.mkdir(path + '/02_Datos/01_Originales')
    os.mkdir(path + '/02_Datos/02_Validacion')
    os.mkdir(path + '/02_Datos/03_Trabajo')
    os.mkdir(path + '/02_Datos/04_Caches')
    os.mkdir(path + '/03_Notebooks')
    os.mkdir(path + '/03_Notebooks/01_Funciones')
    os.mkdir(path + '/03_Notebooks/02_Desarrollo')
    os.mkdir(path + '/03_Notebooks/03_Sistema')
    os.mkdir(path + '/04_Modelos')
    os.mkdir(path + '/05_Resultados')
    os.mkdir(path + '/09_Otros')
    
except OSError:
    print ("La creación del directorio %s ha fallado" % path)
else:
    print ("Se ha creado satisfactoriamente el directorio %s " % path)

La creación del directorio C:/Users/eloic/Google Drive/EOI/TFM/01_MANT_PREDICTIVO ha fallado

### Situar el directorio de trabajo en el proyecto

In [5]:
os.chdir(path)

### Mover el environment.yml

Buscar manualmente el archivo proyecto1.yml, que posiblemente lo haya ubicado en C:\Users\tu_usuario y moverlo a la carpeta /01_Documentos'

## CREAR LOS DATASETS INICIALES

Poner los datos originales en la carpeta '/02_Datos/01_Originales'

### Importar los datos

Sustituir el nombre_fichero_datos.

In [6]:
nombre_fichero_datos = 'MntoMaquina_mod.xlsx'

Cargar los datos.

In [7]:
ruta_completa = path + '/02_Datos/01_Originales/' + nombre_fichero_datos

datos = pd.read_excel(ruta_completa, index_col = 0, header = 1)
datos

,Temperature,Humidity,Operator,Measure1,Measure2,Measure3,Measure4,Measure5,Measure6,Measure7,...,Measure15,Hours Since Previous Failure,Failure,﻿Date.year,﻿Date.month,﻿Date.day-of-month,﻿Date.day-of-week,﻿Date.hour,﻿Date.minute,﻿Date.second
Date,,,,,,,,,,,,,,,,,,,,,
2016-01-01 01:00:00,68,77,Operator1,1180,1,1,1915,1194,637,1093,...,748,91,No,2016,1,1,5,1,0,0
2016-01-01 02:00:00,64,76,Operator1,1406,1,1,511,1577,1121,1948,...,1689,92,No,2016,1,1,5,2,0,0
2016-01-01 03:00:00,63,80,Operator1,550,1,1,1754,1834,1413,1151,...,711,93,No,2016,1,1,5,3,0,0
2016-01-01 04:00:00,65,81,Operator1,1928,1,2,1326,1082,233,1441,...,507,94,No,2016,1,1,5,4,0,0
2016-01-01 07:00:00,67,76,Operator1,1021,2,1,185,170,952,1183,...,844,97,Yes,2016,1,1,5,7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 18:00:00,61,82,Operator8,1613,2,0,918,1710,440,1783,...,1575,6,No,2016,12,31,6,18,0,0
2016-12-31 19:00:00,66,79,Operator8,937,0,2,1875,1719,219,748,...,410,7,No,2016,12,31,6,19,0,0
2016-12-31 20:00:00,60,77,Operator8,379,3,0,814,1990,1606,1346,...,943,8,No,2016,12,31,6,20,0,0
2016-12-31 21:00:00,61,77,Operator8,595,3,1,1659,1134,1314,907,...,200,9,No,2016,12,31,6,21,0,0
2016-12-31 23:00:00,60,82,Operator8,399,0,1,324,1424,809,919,...,1548,11,No,2016,12,31,6,23,0,0

### Extraer y reservar el dataset de validación

In [8]:
val= datos.sample(frac = 0.3)

In [9]:
nombre_fichero_validacion = 'validacion.csv'

ruta_completa = path + '/02_Datos/02_Validacion/' + nombre_fichero_validacion

val.to_csv(ruta_completa)

### Extraer y guardar el dataset de trabajo

In [10]:
trabajo = datos.loc[~datos.index.isin(val.index)]

In [11]:
nombre_fichero_trabajo = 'trabajo.csv'

ruta_completa = path + '/02_Datos/03_Trabajo/' + nombre_fichero_trabajo

trabajo.to_csv(ruta_completa)

### Extraer y guardar una muestra (opcional)

Actualizar el tamaño de la muestra.

In [12]:
# muestra= trabajo.sample(n = 2000)

In [13]:
# nombre_fichero_muestra = 'muestra.csv'

# ruta_completa = path + '/02_Datos/03_Trabajo/' + nombre_fichero_muestra

# muestra.to_csv(ruta_completa)