# PLANTILLA CALIDAD DE DATOS

## IMPORTAR PAQUETES

In [1]:
import numpy as np
import pandas as pd
from janitor import clean_names

#Automcompletar rápido
%config IPCompleter.greedy=True

## IMPORTAR LOS DATOS

Sustituir la ruta del proyecto.

In [2]:
ruta_proyecto = 'C:/Users/eloic/Google Drive/EOI/TFM//01_MANT_PREDICTIVO'

Sustituir el nombre_fichero_datos.

In [3]:
nombre_fichero_datos = 'trabajo.csv'

Cargar los datos.

In [4]:
ruta_completa = ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_fichero_datos

df = pd.read_csv(ruta_completa,index_col=0)
df

,Temperature,Humidity,Operator,Measure1,Measure2,Measure3,Measure4,Measure5,Measure6,Measure7,...,Measure15,Hours Since Previous Failure,Failure,﻿Date.year,﻿Date.month,﻿Date.day-of-month,﻿Date.day-of-week,﻿Date.hour,﻿Date.minute,﻿Date.second
Date,,,,,,,,,,,,,,,,,,,,,
2016-01-01 02:00:00,64,76,Operator1,1406,1,1,511,1577,1121,1948,...,1689,92,No,2016,1,1,5,2,0,0
2016-01-01 07:00:00,67,76,Operator1,1021,2,1,185,170,952,1183,...,844,97,Yes,2016,1,1,5,7,0,0
2016-01-01 09:00:00,63,80,Operator3,415,0,0,1008,1086,1759,1946,...,491,99,No,2016,1,1,5,9,0,0
2016-01-01 10:00:00,61,83,Operator3,525,2,2,603,1630,1740,583,...,1102,100,No,2016,1,1,5,10,0,0
2016-01-01 11:00:00,62,81,Operator3,1719,3,1,880,575,1722,952,...,1759,101,No,2016,1,1,5,11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 18:00:00,61,82,Operator8,1613,2,0,918,1710,440,1783,...,1575,6,No,2016,12,31,6,18,0,0
2016-12-31 19:00:00,66,79,Operator8,937,0,2,1875,1719,219,748,...,410,7,No,2016,12,31,6,19,0,0
2016-12-31 20:00:00,60,77,Operator8,379,3,0,814,1990,1606,1346,...,943,8,No,2016,12,31,6,20,0,0
2016-12-31 21:00:00,61,77,Operator8,595,3,1,1659,1134,1314,907,...,200,9,No,2016,12,31,6,21,0,0
2016-12-31 23:00:00,60,82,Operator8,399,0,1,324,1424,809,919,...,1548,11,No,2016,12,31,6,23,0,0

## CORRECCIÓN DE NOMBRES DE VARIABLES

### Corrección automática

In [5]:
# df = clean_names(df)
# df

### Corrección manual

In [6]:
df.columns

Index(['Temperature', 'Humidity', 'Operator', 'Measure1', 'Measure2',
       'Measure3', 'Measure4', 'Measure5', 'Measure6', 'Measure7', 'Measure8',
       'Measure9', 'Measure10', 'Measure11', 'Measure12', 'Measure13',
       'Measure14', 'Measure15', 'Hours Since Previous Failure', 'Failure',
       '﻿Date.year', '﻿Date.month', '﻿Date.day-of-month', '﻿Date.day-of-week',
       '﻿Date.hour', '﻿Date.minute', '﻿Date.second'],
      dtype='object')

In [7]:
df.rename(columns = {'Temperature':'temperatura',
                     'Humidity':'humedad',
                     'Operator':'operador',
                     'Measure1':'medida_1',
                     'Measure2':'medida_2',
                     'Measure3':'medida_3',
                     'Measure4':'medida_4',
                     'Measure5':'medida_5',
                     'Measure6':'medida_6',
                     'Measure7':'medida_7',
                     'Measure8':'medida_8',
                     'Measure9':'medida_9',
                     'Measure10':'medida_10',
                     'Measure11':'medida_11',
                     'Measure12':'medida_12',
                     'Measure13':'medida_13',
                     'Measure14':'medida_14',
                     'Measure15':'medida_15',
                     'Hours Since Previous Failure':'horas_desde_utlimo_fallo',
                     'Failure':'fallo',
                     '﻿Date.year':'año',
                     '﻿Date.month':'mes',
                     '﻿Date.day-of-month':'dia_mes',
                     '﻿Date.day-of-week':'dia_semana',
                     '﻿Date.hour':'hora',
                     '﻿Date.minute':'minuto',
                     '﻿Date.second':'segundo'}, inplace=True)
df

,temperatura,humedad,operador,medida_1,medida_2,medida_3,medida_4,medida_5,medida_6,medida_7,...,medida_15,horas_desde_utlimo_fallo,fallo,año,mes,dia_mes,dia_semana,hora,minuto,segundo
Date,,,,,,,,,,,,,,,,,,,,,
2016-01-01 02:00:00,64,76,Operator1,1406,1,1,511,1577,1121,1948,...,1689,92,No,2016,1,1,5,2,0,0
2016-01-01 07:00:00,67,76,Operator1,1021,2,1,185,170,952,1183,...,844,97,Yes,2016,1,1,5,7,0,0
2016-01-01 09:00:00,63,80,Operator3,415,0,0,1008,1086,1759,1946,...,491,99,No,2016,1,1,5,9,0,0
2016-01-01 10:00:00,61,83,Operator3,525,2,2,603,1630,1740,583,...,1102,100,No,2016,1,1,5,10,0,0
2016-01-01 11:00:00,62,81,Operator3,1719,3,1,880,575,1722,952,...,1759,101,No,2016,1,1,5,11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-31 18:00:00,61,82,Operator8,1613,2,0,918,1710,440,1783,...,1575,6,No,2016,12,31,6,18,0,0
2016-12-31 19:00:00,66,79,Operator8,937,0,2,1875,1719,219,748,...,410,7,No,2016,12,31,6,19,0,0
2016-12-31 20:00:00,60,77,Operator8,379,3,0,814,1990,1606,1346,...,943,8,No,2016,12,31,6,20,0,0
2016-12-31 21:00:00,61,77,Operator8,595,3,1,1659,1134,1314,907,...,200,9,No,2016,12,31,6,21,0,0
2016-12-31 23:00:00,60,82,Operator8,399,0,1,324,1424,809,919,...,1548,11,No,2016,12,31,6,23,0,0

In [30]:
df.columns

Index(['temperatura', 'humedad', 'operador', 'medida_1', 'medida_2',
       'medida_3', 'medida_4', 'medida_5', 'medida_6', 'medida_7', 'medida_8',
       'medida_9', 'medida_10', 'medida_11', 'medida_12', 'medida_13',
       'medida_14', 'medida_15', 'horas_desde_utlimo_fallo', 'fallo', 'mes',
       'dia_mes', 'dia_semana', 'hora'],
      dtype='object')

## VISIÓN GENERAL

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4919 entries, 2016-01-01 02:00:00 to 2016-12-31 23:00:00
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   temperatura               4919 non-null   int64
 1   humedad                   4919 non-null   int64
 2   operador                  4919 non-null   object
 3   medida_1                  4919 non-null   int64
 4   medida_2                  4919 non-null   int64
 5   medida_3                  4919 non-null   int64
 6   medida_4                  4919 non-null   int64
 7   medida_5                  4919 non-null   int64
 8   medida_6                  4919 non-null   int64
 9   medida_7                  4919 non-null   int64
 10  medida_8                  4919 non-null   int64
 11  medida_9                  4919 non-null   int64
 12  medida_10                 4919 non-null   int64
 13  medida_11                 4919 non-null   int64
 14  medida_12                 4919 non-null   int64
 15  medida_13                 4919 non-null   int64
 16  medida_14                 4919 non-null   int64
 17  medida_15                 4919 non-null   int64
 18  horas_desde_utlimo_fallo  4919 non-null   int64
 19  fallo                     4919 non-null   object
 20  año                       4919 non-null   int64
 21  mes                       4919 non-null   int64
 22  dia_mes                   4919 non-null   int64
 23  dia_semana                4919 non-null   int64
 24  hora                      4919 non-null   int64
 25  minuto                    4919 non-null   int64
 26  segundo                   4919 non-null   int64
dtypes: int64(25), object(2)
memory usage: 1.1+ MB

## TIPOS DE DATOS

### Identificación

In [9]:
df.dtypes

temperatura                  int64
humedad                      int64
operador                    object
medida_1                     int64
medida_2                     int64
medida_3                     int64
medida_4                     int64
medida_5                     int64
medida_6                     int64
medida_7                     int64
medida_8                     int64
medida_9                     int64
medida_10                    int64
medida_11                    int64
medida_12                    int64
medida_13                    int64
medida_14                    int64
medida_15                    int64
horas_desde_utlimo_fallo     int64
fallo                       object
año                          int64
mes                          int64
dia_mes                      int64
dia_semana                   int64
hora                         int64
minuto                       int64
segundo                      int64
dtype: object

In [10]:
df.medida_2.value_counts().sort_index()

0    1224
1    1208
2    1251
3    1236
Name: medida_2, dtype: int64

In [11]:
df.medida_3.value_counts().sort_index()

0    1644
1    1625
2    1650
Name: medida_3, dtype: int64

Hay dos variables que vienen como enteros pero las vamos a tratar como categóricas ya que solo tienen 3 o 4 valores diferentes cada una.

El mes, dia_mes y dia_semana también los modificamos a categorica.

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4919 entries, 2016-01-01 02:00:00 to 2016-12-31 23:00:00
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   temperatura               4919 non-null   int64
 1   humedad                   4919 non-null   int64
 2   operador                  4919 non-null   object
 3   medida_1                  4919 non-null   int64
 4   medida_2                  4919 non-null   int64
 5   medida_3                  4919 non-null   int64
 6   medida_4                  4919 non-null   int64
 7   medida_5                  4919 non-null   int64
 8   medida_6                  4919 non-null   int64
 9   medida_7                  4919 non-null   int64
 10  medida_8                  4919 non-null   int64
 11  medida_9                  4919 non-null   int64
 12  medida_10                 4919 non-null   int64
 13  medida_11                 4919 non-null   int64
 14  medida_12                 4919 non-null   int64
 15  medida_13                 4919 non-null   int64
 16  medida_14                 4919 non-null   int64
 17  medida_15                 4919 non-null   int64
 18  horas_desde_utlimo_fallo  4919 non-null   int64
 19  fallo                     4919 non-null   object
 20  año                       4919 non-null   int64
 21  mes                       4919 non-null   int64
 22  dia_mes                   4919 non-null   int64
 23  dia_semana                4919 non-null   int64
 24  hora                      4919 non-null   int64
 25  minuto                    4919 non-null   int64
 26  segundo                   4919 non-null   int64
dtypes: int64(25), object(2)
memory usage: 1.1+ MB

### Corrección

In [13]:
df = df.astype({'medida_2':'object',
                'medida_3':'object',
                'mes':'object',
                'dia_mes':'object',
                'dia_semana':'object'}
                )

df.dtypes

temperatura                  int64
humedad                      int64
operador                    object
medida_1                     int64
medida_2                    object
medida_3                    object
medida_4                     int64
medida_5                     int64
medida_6                     int64
medida_7                     int64
medida_8                     int64
medida_9                     int64
medida_10                    int64
medida_11                    int64
medida_12                    int64
medida_13                    int64
medida_14                    int64
medida_15                    int64
horas_desde_utlimo_fallo     int64
fallo                       object
año                          int64
mes                         object
dia_mes                     object
dia_semana                  object
hora                         int64
minuto                       int64
segundo                      int64
dtype: object

## VALORES ÚNICOS

### Identificación

In [14]:
df.nunique().sort_values()

segundo                        1
año                            1
minuto                         1
medida_3                       3
fallo                          3
medida_2                       4
dia_semana                     7
operador                       8
mes                           12
temperatura                   20
hora                          24
dia_mes                       31
humedad                       32
horas_desde_utlimo_fallo     637
medida_15                   1717
medida_14                   1723
medida_9                    1726
medida_12                   1727
medida_1                    1728
medida_13                   1729
medida_8                    1732
medida_6                    1735
medida_4                    1735
medida_10                   1736
medida_11                   1737
medida_7                    1741
medida_5                    1744
dtype: int64

### Corrección

Como estos datos el segundo el minuto y año son siempre iguales, borramos las variables. Apuntamos que medida 2 y media 3 tiene pocos valores diferentes.

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4919 entries, 2016-01-01 02:00:00 to 2016-12-31 23:00:00
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   temperatura               4919 non-null   int64
 1   humedad                   4919 non-null   int64
 2   operador                  4919 non-null   object
 3   medida_1                  4919 non-null   int64
 4   medida_2                  4919 non-null   object
 5   medida_3                  4919 non-null   object
 6   medida_4                  4919 non-null   int64
 7   medida_5                  4919 non-null   int64
 8   medida_6                  4919 non-null   int64
 9   medida_7                  4919 non-null   int64
 10  medida_8                  4919 non-null   int64
 11  medida_9                  4919 non-null   int64
 12  medida_10                 4919 non-null   int64
 13  medida_11                 4919 non-null   int64
 14  medida_12                 4919 non-null   int64
 15  medida_13                 4919 non-null   int64
 16  medida_14                 4919 non-null   int64
 17  medida_15                 4919 non-null   int64
 18  horas_desde_utlimo_fallo  4919 non-null   int64
 19  fallo                     4919 non-null   object
 20  año                       4919 non-null   int64
 21  mes                       4919 non-null   object
 22  dia_mes                   4919 non-null   object
 23  dia_semana                4919 non-null   object
 24  hora                      4919 non-null   int64
 25  minuto                    4919 non-null   int64
 26  segundo                   4919 non-null   int64
dtypes: int64(20), object(7)
memory usage: 1.1+ MB

In [16]:
df.drop(columns = ['segundo','minuto','año'], axis =1,inplace = True)

## DUPLICADOS

### Identificación

In [17]:
df.duplicated().sum()

0

### Corrección

In [18]:
df.drop_duplicates(inplace = True)

## SEPARAR NUMÉRICAS Y CATEGÓRICAS

### Categóricas

In [19]:
cat = df.select_dtypes(exclude = 'number').copy()

### Numéricas

In [20]:
num = df.select_dtypes(include='number').copy()

## GESTIÓN DE CATEGÓRICAS

### Nulos

#### Identificación

In [21]:
cat.isna().sum().sort_values(ascending = False)

operador      0
medida_2      0
medida_3      0
fallo         0
mes           0
dia_mes       0
dia_semana    0
dtype: int64

No hay nulos pero valorar poner una función por si en un futuro vinieran

### Atípicos

No hay atípicos

## GESTIÓN DE NUMÉRICAS

### Nulos

#### Identificación

In [22]:
num.isna().sum().sort_values(ascending = False)

temperatura                 0
medida_10                   0
horas_desde_utlimo_fallo    0
medida_15                   0
medida_14                   0
medida_13                   0
medida_12                   0
medida_11                   0
medida_9                    0
humedad                     0
medida_8                    0
medida_7                    0
medida_6                    0
medida_5                    0
medida_4                    0
medida_1                    0
hora                        0
dtype: int64

#### Corrección

##### Imputar por la mediana

###### Variables a imputar

In [23]:
var_imputar_mediana = num.columns.to_list()

###### Funcion para imputar con la mediana

In [24]:
def imputar_mediana(variable):
    if pd.api.types.is_integer_dtype(variable):
        return(variable.fillna(int(variable.median())))
    else:
        return(variable.fillna(variable.median()))

###### Imputar con la mediana

In [25]:
num[var_imputar_mediana] = num[var_imputar_mediana].apply(imputar_mediana)

No hay nulos, pero hacemos una imputación por la mediana en caso de que existan.

### Atípicos

#### Por winsorización manual para una variable

##### Corrección

###### Definir el mínimo y máximo tolerable.

In [26]:
num.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4919 entries, 2016-01-01 02:00:00 to 2016-12-31 23:00:00
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   temperatura               4919 non-null   int64
 1   humedad                   4919 non-null   int64
 2   medida_1                  4919 non-null   int64
 3   medida_4                  4919 non-null   int64
 4   medida_5                  4919 non-null   int64
 5   medida_6                  4919 non-null   int64
 6   medida_7                  4919 non-null   int64
 7   medida_8                  4919 non-null   int64
 8   medida_9                  4919 non-null   int64
 9   medida_10                 4919 non-null   int64
 10  medida_11                 4919 non-null   int64
 11  medida_12                 4919 non-null   int64
 12  medida_13                 4919 non-null   int64
 13  medida_14                 4919 non-null   int64
 14  medida_15                 4919 non-null   int64
 15  horas_desde_utlimo_fallo  4919 non-null   int64
 16  hora                      4919 non-null   int64
dtypes: int64(17)
memory usage: 691.7+ KB

###### Aplicar

In [27]:
num['temperatura'].clip(50,80, inplace=True)
num['humedad'].clip(60,120, inplace=True)
num['horas_desde_utlimo_fallo'].clip(0,1000, inplace=True)

## GUARDAR DATASETS TRAS CALIDAD DE DATOS

Guarda los avances en df, cat y num con un sufijo para poder guardar o recuperar avances del proyecto.

En formato pickle para no perder las modificaciones de metadatos.

### Definir los nombres de los archivos

In [28]:
ruta_trabajo = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'trabajo_resultado_calidad.pickle'
ruta_cat = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'cat_resultado_calidad.pickle'
ruta_num = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'num_resultado_calidad.pickle'

### Guardar los archivos

In [29]:
df.to_pickle(ruta_trabajo)
cat.to_pickle(ruta_cat)
num.to_pickle(ruta_num)